<div [@fadeInAnimation] *ngIf="isOpen" class="section section-signup page-header" style="background-image: url('./assets/img/city.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-4 ml-auto mr-auto">
        <div class="card card-signup">
          <form class="form">
            <div class="card-header card-header-primary text-center">
              <h4>{{loginstatus}}</h4>
              <div class="social-line">
                <a href="#pablo" class="btn btn-link btn-just-icon">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-link btn-just-icon">
                  <i class="fa fa-twitter"></i>
                </a>
                <div class="btn btn-just-icon">
                  <i class="fa fa-google-plus"></i>
                  <google-signin
                    [clientId]="myClientId"
                    (googleSignInSuccess)="onGoogleSignInSuccess($event)">
                  </google-signin>
                </div>
              </div>
            </div>
            <div class="card-body">
              <span class="bmd-form-group"><div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">face</i>
                  </span>
                </div>
                <input #userName (keyup.enter)="updateusername(userName.value)" (blur)="updateusername(userName.value)" type="text" name="Username" id="Username"class="form-control" placeholder="Username...">
              </div></span>
              <span class="bmd-form-group" [style.display]="signupele"><div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">email</i>
                  </span>
                </div>
                <input #email (keyup.enter)="updateemail(email.value)" (blur)="updateemail(email.value)" type="email" class="form-control" placeholder="Email...">
              </div></span>
              <span class="bmd-form-group"><div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>
                <input #password (keyup.enter)="updatepassword(password.value)" (blur)="updatepassword(password.value)" type="password" class="form-control" placeholder="Password...">
              </div></span>
              <!-- If you want to add a checkbox to this form, uncomment this code

            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Subscribe to newsletter
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div> -->
            </div>
            <div class="card-footer justify-content-center">
              <a (click)="OnLoginClick()" class="btn btn-link btn-primary btn-lg">login</a>
              <a id="signup" class="btn btn-primary" (click)="OnSignupClick()">sign up</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>