<div [@fadeInAnimation] *ngIf="isOpen">
<nav class="navbar fixed-top navbar-expand-lg" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <h4>
          Quizes</h4>
      </div>
    </div>
  </nav>
  <div style="height:5em;"></div>
<div id="ExamList">
  <div class="col-md-12">
    <!-- Tabs with icons on Card -->
    <div class="card card-nav-tabs">
      <div class="card-header card-header-primary">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#Current_Affairs" data-toggle="tab">
                   Current Affairs
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Math" data-toggle="tab">
                   Math
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Reasoning" data-toggle="tab">
                   Reasoning
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body ">
        <div class="tab-content text-center">
          <div class="tab-pane active" id="Current_Affairs">
            <div class="row">
              <div class="listDiv">
                <div class="row">
                  <div class="col-md-3">
                    <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                      <!--
                                          color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                      -->
                      <li class="nav-item">
                        <a class="nav-link active show" href="#CA-pill-1" role="tab" data-toggle="tab" aria-selected="true">
                          Current Affairs Quiz-1
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-8">
                    <div class="tab-content">
                      <div class="tab-pane active show" id="CA-pill-1">
                        Current Affairs Quiz
                        <br><b>Time:30 minutes</b>
                        <br><b>30 Questions</b>
                        <br><button  class="btn btn-primary" (click)="onStartClick(qpidset.set1)">Start Exam</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="Math">
            <div class="row">
              <div class="listDiv">
                <div class="row">
                  <div class="col-md-3">
                    <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                      <!--
                                          color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                      -->
                      <li class="nav-item">
                        <a class="nav-link active show" href="#M-pill-1" role="tab" data-toggle="tab" aria-selected="true">
                          Math Quiz-1
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#M-pill-2" role="tab" data-toggle="tab" aria-selected="false">
                          Math Quiz-2
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-8">
                    <div class="tab-content">
                      <div class="tab-pane active show" id="M-pill-1">
                        Math Quiz 1
                        <br><b>Time:30 minutes</b>
                        <br><b>30 Questions</b>
                        <br><button  class="btn btn-primary" (click)="onStartClick(qpidset.set2)">Start Exam</button>
                      </div>
                      <div class="tab-pane" id="M-pill-2">
                        Math Quiz 2
                        <br><b>Time:30 minutes</b>
                        <br><b>30 Questions</b>
                        <br><button  class="btn btn-primary" (click)="onStartClick(qpidset.set3)">Start Exam</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="Reasoning">
            <div class="row">
              <div class="listDiv">
                <div class="row">
                  <div class="col-md-3">
                    <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                      <!--
                                          color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                      -->
                      <li class="nav-item">
                        <a class="nav-link active show" href="#R-pill-1" role="tab" data-toggle="tab" aria-selected="true">
                          Reasoning quiz-1
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#R-pill-2" role="tab" data-toggle="tab" aria-selected="false">
                          Reasoning quiz-2
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-8">
                    <div class="tab-content">
                      <div class="tab-pane active show" id="R-pill-1">
                        Reasoning Quiz 1
                        <br><b>Time:30 minutes</b>
                        <br><b>30 Questions</b>
                        <br><button  class="btn btn-primary" (click)="onStartClick(qpidset.set4)">Start Exam</button>
                      </div>
                      <div class="tab-pane" id="R-pill-2">
                        Reasoning Quiz 2
                        <br><b>Time:30 minutes</b>
                        <br><b>30 Questions</b>
                        <br><button  class="btn btn-primary" (click)="onStartClick(qpidset.set5)">Start Exam</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Tabs with icons on Card -->
  </div>
</div>
</div>