#ExamDiv{
    width: 80%;
    height:80%;
    background-color: #ffffff !important;
    position: relative;
    left: 10%;
}
#slidebarmenu{
    position: absolute;
    right:1px;
    top: 50%;
    z-index:1001;
    padding:16px 0px;
}
#slidebarmenu i{
    font-size:24px;
}
#next{
    float:right;

}
#submit{
    z-index: 1;
    position: absolute;
    right:2%;
}
#answer_section{
    height: 50%;
    margin: 20px;
    margin-left: 30px;
}
#answer_section table{
    height:100%;
}
#answer_section .form-check{
    padding-top: 10px;
    padding-left: 10px;
}
#next[disabled],#prev[disabled]{
    cursor: auto;
}
#button_section{
    width: 100%;
}
#questionDiv i{
    color:#9124a3;
    position: relative;
    top:6px;
    display: inline;
}
#questionDiv h4{
    display: inline;
}
#Time{
    text-align: right;
}
#TimerDiv{
    width: 100%;
}
.navbar.fixed-bottom{
    margin-bottom: 0px;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px 10px rgba(0,0,0,.15);
}
.navbar.fixed-bottom .container,.navbar.fixed-bottom .col{
    padding-right: 0px;
}
#prev i{
    right:11px;
}
#next i{
    left:11px;
}
.btn.btn-primary{
    padding-right:20px;
    padding-left:20px;
}
#answer_section input:checked + label{
    color:#3C4858;
}
.circle{
    min-width: 15px;
    margin-left: 16px;
}
.Slidebar_Buttons{ margin:10px; }
.Slidebar_Buttonset,#Slidebar_Sections{ width:200px; }
.visited{background: #4a4a4a; }
.answered{background: #4caf50; }
.active{background: #9c27b0 !important; }
.slidebtn{ height:32px;width:32px;border-radius:50%;padding:4px; }
.Seperator{     
    height: 1px;
    width: 80%;
    position: relative;
    left: 10%;
    background: #0002;
 }
 .section_name{ text-align: center;font-size: 16px; }
 .sectionSeperatorBTM,#question_section{ border-bottom: 1px solid #0002;}
 .sectionSeperatorRT{
    border-right: 1px solid #0002;
}
.answer{ color:black; }
.activeAns{ background: #f4f4f4; }
#questionDiv p{ display:inline-block; }
#question_section{ line-height: 3.8; padding: 0px 10px; margin: 0px;} 
#question_section p{ margin-bottom: 0px;font-weight: bold;}
.bold{ font-weight: bold; }
#gImage{ border-radius: 50%;height:40px;width:40px;background-size: cover; margin:10px;}
#gName{ padding-top:18px;text-align:center;text-transform: capitalize;width:100px;margin-left:30px; word-break: break-all;}

.slideBarDiv{border-left: 1px solid #f4f4f4;}
