/* You can add global styles to this file, and also import other style files */
body{
    background: #fff !important;
}
.navbar-brand{
    font-size: 2em !important;
}
#loadinggif{
    position: absolute;
    height:100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    background-image: url("./assets/img/Ripple.gif");

}